<div class="standard-form">
	<div class="form-group">
		{{#with alwaysShow}}
			<label>{{localize name}}</label>
			<input type="checkbox" name="alwaysShow" id="alwaysShow" {{checked value}} />
			<p class="hint">{{localize hint}}</p>
		{{/with}}
	</div>
	<div class="form-group">
		{{#with combatOnly}}
			<label>{{localize name}}</label>
			<input type="checkbox" name="combatOnly" id="combatOnly" {{checked value}} />
			<p class="hint">{{localize hint}}</p>
		{{/with}}
	</div>
	<div class="form-group">
		{{#with showDescription}}
			<label>{{localize name}}</label>
			<select name="showDescription" class="form-fields" id="showDescription">
				{{selectOptions select selected=selected valueAttr="key" labelAttr="value"}}
			</select>
			<p class="hint">{{localize hint}}</p>
		{{/with}}
	</div>
	<div class="form-group">
		{{#with showDescriptionTokenType}}
			<label>{{localize name}}</label>
			<select name="showDescriptionTokenType" class="form-fields" id="showDescriptionTokenType">
				{{selectOptions select selected=selected valueAttr="key" labelAttr="value"}}
			</select>
			<p class="hint">{{localize hint}}</p>
		{{/with}}
	</div>

	<div class="form-group">
		{{#with deathState}}
			<label>{{localize name}}</label>
			<input type="checkbox" name="deathState" id="deathState" {{checked value}} />
			<p class="hint">{{localize hint}}</p>
		{{/with}}
	</div>
	<div class="form-group">
		{{#with deathStateName}}
			<label>{{localize name}}</label>
			<input type="text" name="deathStateName" id="deathStateName" value="{{value}}" />
			<p class="hint">{{localize hint}}</p>
		{{/with}}
	</div>
	<div class="form-group">
		{{#with NPCsJustDie}}
			<label>{{localize name}}</label>
			<input type="checkbox" name="NPCsJustDie" id="NPCsJustDie" {{checked value}} />
			<p class="hint">{{localize hint}}</p>
		{{/with}}
	</div>
	{{#if deathMarkerEnabled}}
		<div class="form-group">
			{{#with deathMarker}}
				<label>{{localize name}}</label>
				<div class="form-fields">
					{{filePicker target="deathMarker" type="imagevideo"}}
					<input
						class="image"
						type="text"
						name="deathMarker"
						placeholder="path/image.png"
						value="{{value}}"
					/>
				</div>
				<p class="hint">{{localize hint}}</p>
			{{/with}}
		</div>
	{{/if}}
</div>