<form autocomplete="off" onsubmit="event.preventDefault()">
	<nav class="sheet-tabs tabs">
		{{#each estimations as |estimation idx|}}
			<a class="item" data-tab="{{idx}}">
				{{#if (eq idx 0)}}{{localize "healthEstimate.core.estimationSettings.default"}}
				{{else}}{{#if estimation.name}}{{estimation.name}}{{else}}{{idx}}{{/if}}
				{{/if}}
			</a>
		{{/each}}
		<a class="item lastItem" data-action="add-table">
			<i class="far fa-plus"></i>
			{{localize "healthEstimate.core.estimationSettings.addTable"}}
		</a>
	</nav>

	<section class="content">
		{{formGroup fields.type value=estimations widget=widget rootId=rootId localize=true}}
	</section>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="far fa-save"></i>
			{{localize "SETTINGS.Save"}}
		</button>
		<button type="button" name="reset" data-action="reset">
			<i class="fas fa-undo"></i>
			{{localize "SETTINGS.Reset"}}
		</button>
	</footer>
</form>