<div>
	{{#each tabs as |tab|}}
    <section class="tab scrollable {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
		{{formGroup @root.fields.type value=tab.data widget=@root.widget index=tab.id localize=true}}
	</section>
	{{/each}}

	{{!-- <nav class="sheet-tabs tabs">
		{{#each estimations as |estimation idx|}}
			<a class="item" data-tab="{{idx}}">
				{{#if (eq idx 0)}}{{localize "healthEstimate.core.estimationSettings.default"}}
				{{else}}{{#if estimation.name}}{{estimation.name}}{{else}}{{idx}}{{/if}}
				{{/if}}
			</a>
		{{/each}}
		<a class="item lastItem" data-action="add-table">
			<i class="far fa-plus"></i>
			{{localize "healthEstimate.core.estimationSettings.addTable"}}
		</a>
	</nav>

	<section class="content">
		{{formGroup fields.type value=estimations widget=widget rootId=rootId localize=true}}
	</section> --}}
</div>>