<form autocomplete="off" onsubmit="event.preventDefault()">
	<div>
		<label>{{localize "healthEstimate.core.stateNames.name"}}</label>
		<p class="notes">{{localize "healthEstimate.core.stateNames.hint"}}</p>
	</div>
	<hr />
	<nav class="sheet-tabs tabs">
		{{#each estimations as |estimation idx|}}
			<a class="item" data-tab="{{idx}}">
				{{#if (eq idx 0)}}Default !TODO
				{{else}}{{#if estimation.name}}{{estimation.name}}{{else}}{{idx}}{{/if}}
				{{/if}}
			</a>
		{{/each}}
		<a class="item lastItem" data-action="add-table" data-tooltip="Add !TODO">
			<i class="far fa-plus"></i>
		</a>
	</nav>

	<section class="content">
		{{#each estimations as |estimation idx|}}
			<div class="tab" data-tab="{{idx}}">
				<div class="form-group">
					<label for="estimations.{{idx}}.name">Name !TODO</label>
					{{#if (ne idx 0)}}
						<input name="estimations.{{idx}}.name" type="text" value="{{estimation.name}}" />
					{{else}}<input disabled name="estimations.{{idx}}.name" type="text" value="{{estimation.name}}" />
					{{/if}}
				</div>
				<div class="form-group">
					<label for="estimations.{{idx}}.name">JS Rule !TODO</label>
					{{#if (ne idx 0)}}
						<textarea name="estimations.{{idx}}.rule">{{estimation.rule}}</textarea>
					{{else}}<textarea disabled name="estimations.{{idx}}.rule">{{estimation.rule}}</textarea>
					{{/if}}
				</div>
				<table class="estimation-types">
					<tr>
						<th>Label !TODO</th>
						<th>Estimation (%) !TODO</th>
						<th class="delete-cell"></th>
					</tr>
					{{#each estimation.estimates as |est id|}}
						<tr>
							<td><input name="estimations.{{idx}}.estimates.{{id}}.label" type="text" value="{{est.label}}" /></td>
							<td>
								<div class="value">
									<input name="estimations.{{idx}}.estimates.{{id}}.value" type="number" min="0" max="100" value="{{est.value}}" />
								</div>
							</td>
							<td class="delete-cell" data-tooltip="Delete !TODO"><a class="delete-button"><i
										class="fas fa-times"
										data-action="estimation-delete"
										data-table="{{idx}}"
										data-idx="{{id}}"
									></i></a></td>

						</tr>
					{{/each}}
					<tr>
						<td colspan="3" class="delete-cell"> <a><i class="fas fa-plus" data-action="estimation-add" data-idx="{{idx}}"></i></a></td>
					</tr>
				</table>
				{{#if (ne idx 0)}}
					<div class="flexrow" style="margin-bottom: 0.5em;">
						{{#if (eq idx 1)}}
							<button disabled type="button"><i class="far fa-chevron-left"></i></button>
						{{else}}
							<button type="button" data-tooltip="Increase Priority" data-action="change-prio" data-prio="increase" data-idx="{{idx}}"><i
									class="far fa-chevron-left"
								></i></button>
						{{/if}}
						<button type="button" data-action="table-delete" data-idx="{{idx}}"><i class="fas fa-trash"></i>Delete Table</button>
						{{#if @last}}
							<button disabled type="button"><i class="far fa-chevron-right"></i></button>
						{{else}}
							<button type="button" data-tooltip="Reduce Priority" data-action="change-prio" data-prio="reduce" data-idx="{{idx}}"><i
									class="far fa-chevron-right"
								></i></button>
						{{/if}}
					</div>
				{{/if}}
			</div>
		{{/each}}
	</section>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="far fa-save"></i>
			{{localize "SETTINGS.Save"}}
		</button>
		<button type="button" name="reset" data-action="reset">
			<i class="fas fa-undo"></i>
			{{localize "SETTINGS.Reset"}}
		</button>
	</footer>
</form>