<form autocomplete="off" onsubmit="event.preventDefault()">
	<nav class="sheet-tabs tabs">
		{{#each estimations as |estimation idx|}}
			<a class="item" data-tab="{{idx}}">
				{{#if (eq idx 0)}}{{localize "healthEstimate.core.estimationSettings.default"}}
				{{else}}{{#if estimation.name}}{{estimation.name}}{{else}}{{idx}}{{/if}}
				{{/if}}
			</a>
		{{/each}}
		<a class="item lastItem" data-action="add-table">
			<i class="far fa-plus"></i>
			{{localize "healthEstimate.core.estimationSettings.addTable"}}
		</a>
	</nav>

	<section class="content">
		{{#each estimations as |estimation idx|}}
			<div class="tab" data-tab="{{idx}}">
				{{#if (eq idx 0)}}
					<div class="form-group" style="display: none">
						<input name="estimations.{{idx}}.name" type="text" value="{{estimation.name}}" />
					</div>
					<div class="form-group" style="display: none">
						<textarea name="estimations.{{idx}}.rule" spellcheck="false">{{estimation.rule}}</textarea>
					</div>
					<div class="form-group" style="display: none">
						<input name="estimations.{{idx}}.ignoreColor" type="checkbox" {{checked estimation.ignoreColor}} />
					</div>
				{{else}}
					<div class="form-group">
						<label>{{localize "Name"}}</label>
						<input name="estimations.{{idx}}.name" id="estimations.{{idx}}.name" type="text" value="{{estimation.name}}" />
					</div>
					<div class="form-group">
						<label>{{localize "healthEstimate.core.estimationSettings.jsRule"}}</label>
						<textarea name="estimations.{{idx}}.rule" id="estimations.{{idx}}.rule" spellcheck="false">{{estimation.rule}}</textarea>
					</div>
					<div class="form-group">
						<label>{{localize "healthEstimate.core.estimationSettings.ignoreColor.name"}}</label>
						<input name="estimations.{{idx}}.ignoreColor" id="estimations.{{idx}}.ignoreColor" type="checkbox" {{checked estimation.ignoreColor}} />
						<p class="notes">{{localize "healthEstimate.core.estimationSettings.ignoreColor.hint"}}</p>
					</div>
				{{/if}}
				<table class="estimation-types">
					<tr>
						<th>{{localize "healthEstimate.core.estimationSettings.estimate"}}</th>
						<th>%</th>
						<th class="delete-cell"></th>
					</tr>
					{{#each estimation.estimates as |est id|}}
						<tr>
							<td><input name="estimations.{{idx}}.estimates.{{id}}.label" type="text" value="{{est.label}}" /></td>
							<td>
								<div class="value">
									<input name="estimations.{{idx}}.estimates.{{id}}.value" type="number" min="0" max="100" value="{{est.value}}" />
								</div>
							</td>
							<td class="delete-cell">
								<a class="delete-button" data-action="estimation-delete">
									<i class="fas fa-times" data-table="{{idx}}" data-idx="{{id}}"></i>
								</a>
							</td>
						</tr>
					{{/each}}
					<tr>
						<td colspan="3" class="add-cell">
							<a data-action="estimation-add"><i class="fas fa-plus" data-idx="{{idx}}"></i> {{localize "healthEstimate.core.estimationSettings.AddEstimate"}}</a>
						</td>
					</tr>
				</table>
				{{#if (ne idx 0)}}
					<div class="flexrow estimation-buttons">
						{{#if (eq idx 1)}}
							<button disabled type="button"><i class="far fa-chevron-left"></i></button>
						{{else}}
							<button
								type="button"
								data-tooltip="{{localize 'healthEstimate.core.estimationSettings.prioIncrease'}}"
								data-action="change-prio"
								data-prio="increase"
								data-idx="{{idx}}"
							>
								<i class="far fa-chevron-left"></i>
							</button>
						{{/if}}
						<button type="button" data-action="table-delete" data-idx="{{idx}}"><i class="fas fa-trash"></i>
							{{localize "healthEstimate.core.estimationSettings.deleteTable"}}
						</button>
						{{#if @last}}
							<button disabled type="button"><i class="far fa-chevron-right"></i></button>
						{{else}}
							<button
								type="button"
								data-tooltip="{{localize 'healthEstimate.core.estimationSettings.prioDecrease'}}"
								data-action="change-prio"
								data-prio="reduce"
								data-idx="{{idx}}"
							><i class="far fa-chevron-right"></i></button>
						{{/if}}
					</div>
				{{/if}}
			</div>
		{{/each}}
	</section>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="far fa-save"></i>
			{{localize "SETTINGS.Save"}}
		</button>
		<button type="button" name="reset" data-action="reset">
			<i class="fas fa-undo"></i>
			{{localize "SETTINGS.Reset"}}
		</button>
	</footer>
</form>