<form autocomplete="off" onsubmit="event.preventDefault()">
	<div class="form-group">
		<label>{{useColor.name}}</label>
		<input type="checkbox" name="useColor" id="useColor" {{checked useColor.value}} />
		<p class="notes">{{useColor.hint}}</p>
	</div>
	<div class="form-group">
		<label>{{scaleToZoom.name}}</label>
		<input type="checkbox" name="scaleToZoom" id="scaleToZoom" {{checked scaleToZoom.value}} />
		<p class="notes">{{scaleToZoom.hint}}</p>
	</div>
	<div class="form-group">
		{{#with smoothGradient}}
			<label>{{localize name}}</label>
			<input type="checkbox" name="smoothGradient" id="smoothGradient" {{checked value}} />
			<p class="notes">{{localize hint}}</p>
		{{/with}}
	</div>
	<div class="form-group gradient">
		<span>
			<div id="gradientExampleHE"></div>
			<div id="gradientControlsHE"></div>
		</span>
		<span class="gradient-settings">
			{{#with mode}}
				<select name="mode" id="mode">
					{{selectOptions select selected=selected nameAttr="key" labelAttr="value"}}
				</select>
			{{/with}}
		</span>
	</div>
	<div class="form-group healthEstimate deadColor">
		{{#with deadColor}}
			<label>{{localize name}}</label>
			{{colorPicker name="deadColor" value=value}}
		{{/with}}
	</div>
	<div class="form-group">
		<span class="sampleFrameHE">
			{{! <img src="./modules/healthEstimate/static/frame.png" alt="" style="margin-bottom: -106px"> }}
			<div id="healthEstimateSample" class="healthEstimateSample">
				<span class="healthEstimateColor">{{deadText}}&nbsp;</span>
				<span class="healthEstimateAnimate">Sample</span>
			</div>
		</span>
	</div>
	<div class="form-group">
		<div>
			<div class="form-group">
				{{#with outline}}
					<label>{{localize name}}</label>
					<select name="outlineMode" class="form-fileds normalBox" id="outlineMode">
						{{selectOptions select selected=selected nameAttr="key" labelAttr="value"}}
					</select>
				{{/with}}
				{{#with outlineIntensity}}
					<span class="smallBox">&nbsp;×&nbsp;</span>
					<input type="number" step="0.1" min="0" value="{{this.value}}" name="outlineIntensity" id="outlineIntensity" class="numberHE" />
				{{/with}}
			</div>
			<div class="form-group">
				{{#with fontSize}}
					<label>{{localize name}}</label>
					<input class="bigBox" type="text" value="{{value}}" name="fontSize" id="fontSize" />
					<p class="notes">{{localize hint}}</p>
				{{/with}}
			</div>
			<div class="form-group">
				{{#with position}}
					<label>{{localize name}}</label>
					<select name="position" class="form-fileds normalBox" id="position">
						{{selectOptions select selected=selected nameAttr="key" labelAttr="value"}}
					</select>
				{{/with}}
				<span class="smallBox">&nbsp;×&nbsp;</span>
				{{#with positionAdjustment}}
					<input type="number" step="0.1" value="{{value}}" name="positionAdjustment" id="positionAdjustment" class="numberHE" />
					<p class="notes">{{localize hint}}</p>
				{{/with}}
			</div>
		</div>
	</div>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="far fa-save"></i>
			{{localize "SETTINGS.Save"}}
		</button>
		<button type="button" name="reset" data-action="reset">
			<i class="fas fa-undo"></i>
			{{localize "SETTINGS.Reset"}}
		</button>
	</footer>
</form>